<!doctype html>
<html>
<head>
  <title>imbers</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%- css('application') %>
  <%- js('jquery') %>
  <%- js('application') %>
</head>

<body>

  <section class="top">
    <header class="header">
      <h1 class="logo js-logo">Imbers.</h1>
    </header>

    <div class="intro">
      <div class="demo">
        <div class="demo-phone js-demo-bg"></div>
        <div class="demo-screen">
          <img src="http://icdn8.digitaltrends.com/image/iphone-6s-plus-screenshot-6-1125x2001.jpg">
        </div>
      </div>
    </div>

    <a href="" class="scroll js-scroll-down"></a>
  </section>

  <section class="section js-video">
    <div class="container">
      <h1>Thin nice heading.</h1>

      <div class="row">
        <div class="col-md-7 col-md-offset-3 video">
          <iframe src="//player.vimeo.com/video/106860375" width="667" height="362" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="section-odd">
    <div class="container features">
      <div class="row">
        <div class="col-md-5 col-md-offset-2 feature-text">
          <h2>Sign Up</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-3">
          <div style="border: 4px solid white; height: 450px;"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <div style="border: 4px solid white; height: 450px;"></div>
        </div>
        <div class="col-md-5 feature-text">
          <h2>Matchmaking</h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-md-offset-2 feature-text">
          <h2>Chat</h2>
          <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
        <div class="col-md-3">
          <div style="border: 4px solid white; height: 450px;"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section border-bottom">
    <div class="container">
      <h1>Sign up for our free trial</h1>
      <p class="margin-bottom-medium">We have a limited amount of invites we can send. Tell us why you should receive one here!</p>
      <form class="form-inline" role="form" action="https://52unicorns.wufoo.com/forms/z1bkc0z911a6e2b/#public" enctype="multipart/form-data" method="post">
        <input type="hidden" id="idstamp" name="idstamp" value="SzEzspiT9YoUqmY3hcl66uUnpTffxieAP7LvgJrJQNE=" />
        <div class="row margin-bottom-small">
          <div class="form-group col-md-6 col-md-offset-3">
            <textarea name="Field2" class="form-control" placeholder="Tell us why here"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6 col-md-offset-3">
            <input type="email" name="Field1" class="form-control margin-right-small" id="exampleInputEmail2" placeholder="Your email">
            <button type="submit" class="btn btn-primary">Invite me!</button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="section border-bottom">
    <div class="container">
      <div class="margin-bottom-xlarge">
        <h1>We did this whole thing for 24 hours</h1>
        <p class="margin-bottom-medium"> Why? Cause we were part of the Product Hunt hackaton from 25 October to 26 October.</p>
        <img src="img/producthunt.png" alt="Product Hunt Logo" class="margin-bottom-xlarge">

        <div class="row">
          <div class="col-md-6 col-md-offset-3 info-sections">
            <div class="row">
              <div class="col-md-4">
                <img src="http://tctechcrunch2011.files.wordpress.com/2010/10/hackny-hackathon-fall-2010-flickr-photo-sharing1.jpg" class="border-round">
              </div>
              <div class="col-md-8">
                Why? Cause we were part of the Product Hunt hackaton from 25 October to 26 October.
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <img src="http://tctechcrunch2011.files.wordpress.com/2010/10/hackny-hackathon-fall-2010-flickr-photo-sharing1.jpg" class="border-round">
              </div>
              <div class="col-md-8">
                Why? Cause we were part of the Product Hunt hackaton from 25 October to 26 October.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="margin-bottom-xlarge">
        <h1>And who are we?</h1>
        <p class="margin-bottom-large">Some guys from Sofia, Bulgaria. bla bla. We called ourselves <strong>52 unicorns</strong> not so long ago. blabla</p>

        <div class="row">
          <article class="col-md-3 profile">
            <div class="row">
              <img src="https://pbs.twimg.com/profile_images/427342392228732928/Q92ozpXG_400x400.jpeg" class="col-md-9">
            </div>
            <h4>Veselin Todorov</h4>
            <p>Back-end stuff and unicorns</p>
            <a href="#">That's Veselin on Twitter</a>
          </article>

          <article class="col-md-3 profile">
            <div class="row">
              <img src="https://pbs.twimg.com/profile_images/2147515660/IMG_0144_2_400x400.jpg" class="col-md-9">
            </div>
            <h4>Alexander Petkov</h4>
            <p>Design and Front-end info</p>
            <a href="#">That's Alexander on Twitter</a>
          </article>

          <article class="col-md-3 profile">
            <div class="row">
              <img src="https://avatars3.githubusercontent.com/u/1281720?v=2&s=460" class="col-md-9">
            </div>
            <h4>Dimitar Valchanov</h4>
            <p>Mobile development</p>
            <a href="#">That's Dimitar on Twitter</a>
          </article>

          <article class="col-md-3 profile">
            <div class="row">
              <img src="http://blog.ventfitness.com/wp-content/uploads/2014/08/tumblr_n08mc20A6E1tpo3v2o1_1280.jpg" class="col-md-9">
            </div>
            <h4>Destiny</h4>
            <p>Destiny - the fat unicorn is here</p>
          </article>
        </div>
      </div>

      <div>
        <h1>Process & Timeline</h1>
        <p class="margin-bottom-large">We used Ruby, Swift, Less to build this.</p>

        <div class="row">
          <div class="col-md-12 timeline-label">
            25 October
          </div>

          <div class="timeline col-md-8 col-md-offset-2">
            <div class="timeline-line"></div>

            <div class="row">
              <div class="timeline-entry col-md-6 col-xs-6">
                <div class="col-md-8 col-xs-8 timeline-entry-info">
                  Kick-off
                  <a class="js-timeline-photo" href="http://3lr72f3dhlbp3scfdb49y0cz.wpengine.netdna-cdn.com/assets/kickoff.jpg"><img src="http://3lr72f3dhlbp3scfdb49y0cz.wpengine.netdna-cdn.com/assets/kickoff.jpg"></a>
                </div>

                <div class="col-md-4 col-xs-4 timeline-entry-date">
                  6:30 PM
                </div>
              </div>

              <div class="timeline-entry col-md-6 col-xs-6">
                <div class="col-md-8 col-xs-8 timeline-entry-info">
                  Landing page design
                  <a class="js-timeline-photo" href="http://www.curver.com/assets/images/wysiwyg/Design%20and%20innovation.jpg"><img src="http://www.curver.com/assets/images/wysiwyg/Design%20and%20innovation.jpg"></a>
                </div>

                <div class="col-md-4 col-xs-4 timeline-entry-date">
                  6:30 PM
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 timeline-label">
            26 October
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="section">
    <div class="container">
      With love by 52 Unicorns.
    </div>
  </footer>

</body>
</html>
