<!doctype html>
<html>
<head>
  <title>imbers</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%- css('application') %>
  <%- js('jquery') %>
  <%- js('application') %>
</head>

<body>

  <section class="top">
    <header class="header">
      <h1 class="logo js-logo">Imbers.</h1>
    </header>

    <div class="intro">
      <div class="demo">
        <div class="demo-phone js-demo-bg"></div>
        <div class="demo-screen">
          <img src="img/header_screen.png">
        </div>
      </div>
    </div>

    <a href="" class="scroll js-scroll-down"></a>
  </section>

  <section class="section js-video">
    <div class="container">
      <h1>Meet someone new every day</h1>

      <div class="row">
        <div class="col-md-7 col-md-offset-3 video">
          <iframe src="//player.vimeo.com/video/110070347" width="667" height="362" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="section-odd">
    <div class="container features">
      <div class="row">
        <div class="col-md-5 col-md-offset-2 feature-text">
          <h2>Sign up.</h2>
          <p>Signing up is as easy as connecting your Facebook account with Imbers. That's all it takes! We will do the rest for you and connect you to people with common interests or why not even your soulmate!</p>
        </div>
        <div class="col-md-3">
          <img src="img/feature_signin.png">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <img src="img/feature_matchmaking.png">
        </div>
        <div class="col-md-5 feature-text">
          <h2>Find a match.</h2>
          <p>Our matchmaking algorighm will collect data from your Facebook account and hook you up with people that match yout personality, lifestyle and interests among your friends's friends!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-md-offset-2 feature-text">
          <h2>Connect.</h2>
          <p>What's more exciting is that you'll satrt your conversation completely anonymous!</p>
          <p>It will take no more than 50 messages before you decide if you should reveal your identity or keep it a secret forever!</p>
        </div>
        <div class="col-md-3">
          <img src="img/feature_chat.png">
        </div>
      </div>
    </div>
  </section>

  <section class="section border-bottom">
    <div class="container">
      <h1>Want to try it out?</h1>
      <p class="margin-bottom-medium">We have a limited amount of invites we can send, so why don't you tell us something cool to make us choose you?</p>
      <form class="form-inline" role="form" action="https://52unicorns.wufoo.com/forms/z1bkc0z911a6e2b/#public" enctype="multipart/form-data" method="post">
        <input type="hidden" id="idstamp" name="idstamp" value="SzEzspiT9YoUqmY3hcl66uUnpTffxieAP7LvgJrJQNE=" />
        <div class="row margin-bottom-medium">
          <div class="form-group col-md-6 col-md-offset-3">
            <textarea name="Field2" class="form-control" placeholder="Your awesome message here"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6 col-md-offset-3">
            <div class="row">
              <div class="col-md-7">
                <input type="email" name="Field1" class="form-control full-width" id="exampleInputEmail2" placeholder="Your email">
              </div>

              <div class="col-md-5">
                <button type="submit" class="btn btn-primary full-width">Invite me!</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="section border-bottom">
    <div class="container">
      <div class="margin-bottom-xlarge">
        <h1>It took us 26 hours to do this</h1>
        <p class="margin-bottom-medium">No, not only this landing page. Everything. Coming up with the idea, the app architecture, the initial version of the iOS app, the marketing video, the UI/UX.</p>
        <p class="margin-bottom-medium">We did this as part of the <a href="http://producthunt.com/" target="_blank">Product Hunt</a> hackaton on 25-26 October 2014. And we wanted to see how far can we go.</p>
        <img src="img/producthunt.png" alt="Product Hunt Logo">
      </div>

      <div class="margin-bottom-xlarge">
        <h1>Some tech info</h1>

        <div class="row">
          <div class="col-md-6 col-md-offset-3 info-sections">
            <div class="row">
              <div class="col-md-3">
                <img src="http://tctechcrunch2011.files.wordpress.com/2010/10/hackny-hackathon-fall-2010-flickr-photo-sharing1.jpg" class="border-round">
              </div>
              <div class="col-md-9">
                Used rails for backend
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <img src="http://tctechcrunch2011.files.wordpress.com/2010/10/hackny-hackathon-fall-2010-flickr-photo-sharing1.jpg" class="border-round">
              </div>
              <div class="col-md-9">
                Used swift for iOS app.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="margin-bottom-xlarge">
        <h1>Project timeline</h1>

        <div class="row">
          <div class="col-md-12 timeline-label">
            25 October
          </div>

          <div class="timeline col-md-8 col-md-offset-2">
            <div class="timeline-line"></div>

            <div class="row">
              <div class="timeline-entry col-md-6 col-xs-6">
                <div class="col-md-8 col-xs-8 timeline-entry-info">
                  Kick-off
                  <a class="js-timeline-photo timeline-photo" href="http://3lr72f3dhlbp3scfdb49y0cz.wpengine.netdna-cdn.com/assets/kickoff.jpg"><img src="http://3lr72f3dhlbp3scfdb49y0cz.wpengine.netdna-cdn.com/assets/kickoff.jpg"></a>
                </div>

                <div class="col-md-4 col-xs-4 timeline-entry-date">
                  6:30 PM
                </div>
              </div>

              <div class="timeline-entry col-md-6 col-xs-6">
                <div class="col-md-8 col-xs-8 timeline-entry-info">
                  Landing page design
                  <a class="js-timeline-photo timeline-photo" href="http://www.curver.com/assets/images/wysiwyg/Design%20and%20innovation.jpg"><img src="http://www.curver.com/assets/images/wysiwyg/Design%20and%20innovation.jpg"></a>
                </div>

                <div class="col-md-4 col-xs-4 timeline-entry-date">
                  6:30 PM
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 timeline-label">
            26 October
          </div>
        </div>
      </div>

      <div>
        <h1>And who are we?</h1>
        <p class="margin-bottom-medium">We are 3 friends from Bulgaria, who luckily happen to share the same passion for awesome web and mobile apps.</p>
        <p class="margin-bottom-large">And we have a unicorn named Destiny to help us do things right.</p>

        <div class="row">
          <article class="col-md-3 profile">
            <div class="row">
              <img src="https://pbs.twimg.com/profile_images/427342392228732928/Q92ozpXG_400x400.jpeg" class="col-md-9">
            </div>
            <h4>Veselin Todorov</h4>
            <p>Back-end development</p>
            <a href="https://twitter.com/vesln" target="_blank">That's Veselin on Twitter</a>
          </article>

          <article class="col-md-3 profile">
            <div class="row">
              <img src="https://pbs.twimg.com/profile_images/2147515660/IMG_0144_2_400x400.jpg" class="col-md-9">
            </div>
            <h4>Alexander Petkov</h4>
            <p>Design, UI/UX</p>
            <a href="https://twitter.com/abpetkov" target="_blank">That's Alexander on Twitter</a>
          </article>

          <article class="col-md-3 profile">
            <div class="row">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.0.160.160/p160x160/1175653_10203518433232050_790464509_n.jpg?oh=d420a7945cd784c1a68802ba811c5271&oe=54AB91E8&__gda__=1421181500_959f7599a899ac97eae8d28ee1b31d26" class="col-md-9">
            </div>
            <h4>Dimitar Valchanov</h4>
            <p>Mobile development</p>
            <a href="https://twitter.com/dvalchanov" target="_blank">That's Dimitar on Twitter</a>
          </article>

          <article class="col-md-3 profile">
            <div class="row">
              <img src="http://blog.ventfitness.com/wp-content/uploads/2014/08/tumblr_n08mc20A6E1tpo3v2o1_1280.jpg" class="col-md-9">
            </div>
            <h4>Destiny</h4>
            <p>Our lucky charm</p>
            <p>Destiny is not on Twitter :(</p>
          </article>
        </div>
      </div>
    </div>
  </section>

  <footer class="section">
    <div class="container">
      With love. By <strong>52 Unicorns</strong>.
    </div>
  </footer>

</body>
</html>
