<!doctype html>
<html>
<head>
  <title>imbers</title>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%- css('application') %>
  <%- js('application') %>
</head>

<body>

  <section class="top">
    <header class="header">
      <h1>Imbers.</h1>
    </header>

    <div class="intro">
      <div class="demo">
        <div class="demo-phone js-demo-bg"></div>
        <div class="demo-screen"></div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1>Thin nice heading.</h1>
    </div>
  </section>

  <section class="section-odd">
    <div class="container">
      <h2>Awesome white heading</h2>
    </div>
  </section>

</body>
</html>
