<!doctype html>
<html>
<head>
  <title>imbers</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%- css('application') %>
  <%- js('jquery') %>
  <%- js('application') %>
</head>

<body>

  <section class="top">
    <header class="header">
      <h1 class="logo js-logo">Imbers.</h1>
    </header>

    <div class="intro">
      <div class="demo">
        <div class="demo-phone js-demo-bg"></div>
        <div class="demo-screen">
          <img src="img/header_screen.png">
        </div>
      </div>
    </div>

    <a href="" class="scroll js-scroll-down"></a>
  </section>

  <section class="section js-video">
    <div class="container">
      <h1>Meet someone new every day</h1>

      <div class="row">
        <div class="col-md-8 col-md-offset-3 video">
          <iframe src="//player.vimeo.com/video/110070347?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="780" height="438" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="section-odd">
    <div class="container features">
      <div class="row">
        <div class="col-md-5 col-md-offset-2 feature-text">
          <h2>Sign up.</h2>
          <p>Signing up is as easy as connecting your Facebook account with Imbers. That's all it takes! We will do the rest for you and connect you to people with common interests or why not even your soulmate!</p>
        </div>
        <div class="col-md-3">
          <img src="img/feature_signin.png">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <img src="img/feature_matchmaking.png">
        </div>
        <div class="col-md-5 feature-text">
          <h2>Find a match.</h2>
          <p>Our matchmaking algorighm will collect data from your Facebook account and hook you up with people that match yout personality, lifestyle and interests among your friends's friends!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-md-offset-2 feature-text">
          <h2>Connect.</h2>
          <p>What's more exciting is that you'll satrt your conversation completely anonymous!</p>
          <p>It will take no more than 50 messages before you decide if you should reveal your identity or keep it a secret forever!</p>
        </div>
        <div class="col-md-3">
          <img src="img/feature_chat.png">
        </div>
      </div>
    </div>
  </section>

  <section class="section border-bottom">
    <div class="container">
      <h1>Want to try it out?</h1>
      <p class="margin-bottom-medium">Sadly, Apple limits us to only 100 test users and we cannot invite all of you. Let us know why you like the app and we'll give you exclusive access!</p>
      <p class="margin-bottom-medium">We also recorded a quick movie of us playing with the application. <a href="https://vimeo.com/110075598">Have fun watching it!</a></p>
      <form class="form-inline" role="form" action="https://52unicorns.wufoo.com/forms/z1bkc0z911a6e2b/#public" enctype="multipart/form-data" method="post">
        <input type="hidden" id="idstamp" name="idstamp" value="SzEzspiT9YoUqmY3hcl66uUnpTffxieAP7LvgJrJQNE=" />
        <div class="row margin-bottom-medium">
          <div class="form-group col-md-6 col-md-offset-3">
            <textarea name="Field2" class="form-control" placeholder="Your awesome message here"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6 col-md-offset-3">
            <div class="row">
              <div class="col-md-7">
                <input type="email" name="Field1" class="form-control full-width" id="exampleInputEmail2" placeholder="Your email">
              </div>

              <div class="col-md-5">
                <button type="submit" class="btn btn-primary full-width">Invite me!</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="section border-bottom">
    <div class="container">
      <div class="margin-bottom-xlarge">
        <h1>It took us 26 hours to do this</h1>
        <p class="margin-bottom-medium">No, not only this landing page. Everything. Coming up with the idea, the app architecture, the initial version of the iOS app, the marketing video, the UI/UX.</p>
        <p class="margin-bottom-medium">We did this as part of the <a href="http://producthunt.com/" target="_blank">Product Hunt</a> hackaton on 25-26 October 2014. And we wanted to see how far can we go.</p>
        <p class="margin-bottom-medium">Btw, we've <a href="https://github.com/52unicorns">open sourced everything </a>, we've done, so be sure to check it out on GitHub!</p>
        <img src="img/producthunt.png" alt="Product Hunt Logo">
      </div>

      <div class="margin-bottom-xlarge">
        <h1>Some tech info</h1>

        <div class="row">
          <div class="col-md-6 col-md-offset-3 info-sections">
            <div class="row">
              <div class="col-md-3">
                <img src="https://humancoders-formations.s3.amazonaws.com/uploads/course/logo/15/formation-ruby.png" class="border-round">
              </div>
              <div class="col-md-9">
                Thanks to Ruby and Ruby on Rails, we were able to develop the backend extremely fast. We've used PostgreSQL as our main datastore, Redis for the background jobs (we <3 Sidekiq) and Neo4j for the matchmaking.
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <img src="http://cdn2.raywenderlich.com/wp-content/uploads/2014/06/swift_tut.jpg" class="border-round">
              </div>
              <div class="col-md-9">
                The mobile app is only for iOS (for now) and it's written in Swift - Apple's new programming language. We've used some cool open-source libraries for messaging and Facebook integration.
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <img src="https://www.ostraining.com/cdn/images/coding/less.png" class="border-round">
              </div>
              <div class="col-md-9">
                The frontend was developed with less, Twitter Bootstrap and vanilla HTML. As boring as that. :)
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <img src="http://upload.wikimedia.org/wikipedia/en/3/35/IMovie_2013.png" class="border-round">
              </div>
              <div class="col-md-9">
                It's always fun to watch promo video of applications, with happy people and stuff. We haven't created such video ourselves till now, so we decided to cook a quick one by combining several others. It's so good, we might as well become producers.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="margin-bottom-xlarge">
        <h1>Project timeline</h1>

        <div class="row">
          <div class="col-md-12 timeline-label">
            25 October
          </div>

          <div class="timeline col-md-8 col-md-offset-2">
            <div class="timeline-line"></div>

            <div class="row">
              <div class="timeline-entry col-md-6 col-xs-6">
                <div class="col-md-8 col-xs-8 timeline-entry-info">
                  Kick-off
                  <a class="js-timeline-photo timeline-photo" href="http://3lr72f3dhlbp3scfdb49y0cz.wpengine.netdna-cdn.com/assets/kickoff.jpg"><img src="http://3lr72f3dhlbp3scfdb49y0cz.wpengine.netdna-cdn.com/assets/kickoff.jpg"></a>
                </div>

                <div class="col-md-4 col-xs-4 timeline-entry-date">
                  6:30 PM
                </div>
              </div>

              <div class="timeline-entry col-md-6 col-xs-6">
                <div class="col-md-8 col-xs-8 timeline-entry-info">
                  Landing page design
                  <a class="js-timeline-photo timeline-photo" href="http://www.curver.com/assets/images/wysiwyg/Design%20and%20innovation.jpg"><img src="http://www.curver.com/assets/images/wysiwyg/Design%20and%20innovation.jpg"></a>
                </div>

                <div class="col-md-4 col-xs-4 timeline-entry-date">
                  6:30 PM
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 timeline-label">
            26 October
          </div>
        </div>
      </div>

      <div>
        <h1>And who are we?</h1>
        <p class="margin-bottom-medium">We are 3 friends from Bulgaria, who luckily happen to share the same passion for awesome web and mobile apps.</p>
        <p class="margin-bottom-large">And we have a unicorn named Destiny to help us do things right.</p>

        <div class="row">
          <article class="col-md-3 profile">
            <div class="row">
              <img src="https://pbs.twimg.com/profile_images/427342392228732928/Q92ozpXG_400x400.jpeg" class="col-md-9">
            </div>
            <h4>Veselin Todorov</h4>
            <p>Back-end development</p>
            <a href="https://twitter.com/vesln" target="_blank">That's Veselin on Twitter</a>
          </article>

          <article class="col-md-3 profile">
            <div class="row">
              <img src="https://pbs.twimg.com/profile_images/2147515660/IMG_0144_2_400x400.jpg" class="col-md-9">
            </div>
            <h4>Alexander Petkov</h4>
            <p>Design, UI/UX</p>
            <a href="https://twitter.com/abpetkov" target="_blank">That's Alexander on Twitter</a>
          </article>

          <article class="col-md-3 profile">
            <div class="row">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.0.160.160/p160x160/1175653_10203518433232050_790464509_n.jpg?oh=d420a7945cd784c1a68802ba811c5271&oe=54AB91E8&__gda__=1421181500_959f7599a899ac97eae8d28ee1b31d26" class="col-md-9">
            </div>
            <h4>Dimitar Valchanov</h4>
            <p>Mobile development</p>
            <a href="https://twitter.com/dvalchanov" target="_blank">That's Dimitar on Twitter</a>
          </article>

          <article class="col-md-3 profile">
            <div class="row">
              <img src="http://blog.ventfitness.com/wp-content/uploads/2014/08/tumblr_n08mc20A6E1tpo3v2o1_1280.jpg" class="col-md-9">
            </div>
            <h4>Destiny</h4>
            <p>Our lucky charm</p>
            <p>Destiny is not on Twitter :(</p>
          </article>
        </div>
      </div>
    </div>
  </section>

  <footer class="section">
    <div class="container">
      With love. By <strong>52 Unicorns</strong>.
    </div>
  </footer>

</body>
</html>
